 GNU nano 4.8                                                                     index.html                                                                               <html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='static/style.css'>
  <script src='static/client.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  
    <div>
      <div class='center'>
        <div class='title'>
          sentiment classifier
        </div>
            <div class='content'>
              <div class= 'text'>
                <form method='post' action="/analyze" >
                  <input id='text' type='text' name='text'>

                  <div class='analyze'>
                    <button id='analyze-button' class='analyze-button' type='submit'>Analyze</button>
                  </div>

                </form>
              </div>


              <div class='result-label'>
                <label id='result-label'></label>
              </div>

            </div>
      </div>
    </div>
</body>
</html>

