<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<div>
  <div class='center'>
    <div class='title'>
      The Kissing Booth 2 💃</div>
    <p>
      Do you look like <strong>Joey King</strong>(Elle) 
      or <strong>Jacob Elordi</strong>(Noah), <strong>Marco Peña</strong>(Taylor)
      or someone else?!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
      
    </div>
  </div>
  <img id='img' class='no-display' alt='' height='200'>
</div>
</body>
</html>
